<th:block th:fragment="issueItem(issueVO)">
    <div class="piw-w-full piw-bg-white piw-px-4 piw-py-3 piw-flex piw-justify-between piw-items-center last:piw-rounded-b-md">
        <div class="piw-space-y-2">
            <div class="piw-flex piw-items-center piw-gap-x-3">
                <a class="piw-text-base piw-font-medium piw-text-neutral-800"
                   th:href="${'/subject/' + issueVO.spec.subjectName + '/issues/' + issueVO.metadata.name}"
                   th:text="${issueVO.spec.title}"></a>
                <th:block th:each="label:${issueVO.spec.labels}">
                    <span class="piw-px-2 piw-py-0.5 piw-rounded-xl piw-text-xs piw-font-medium piw-border piw-border-green-100"
                            th:text="${label}"></span>
                </th:block>
            </div>
            <div class="piw-flex piw-items-center piw-gap-x-2 piw-text-neutral-500" x-data="dateUtils">
                <span th:text="${'#' + issueVO.metadata.name}" class="piw-text-sm"></span>
                <p class="piw-inline-flex piw-items-center piw-gap-x-2" th:attr="x-data=|{publishTime: '${issueVO.spec.releaseTime}'}|">
                    <span class="piw-text-sm" th:text="${issueVO.contributorVo.displayName}"></span>
                    <span class="piw-text-sm">发布于</span>
                    <span class="piw-text-sm" x-text="relativeTimeTo(publishTime)"></span>
                </p>
            </div>
        </div>
        <div class="piw-inline-flex piw-items-center piw-gap-x-2">
            <span class="piw-icon-[fluent--comment-24-regular]"></span>
            <span class="piw-text-sm piw-text-neutral-600" th:text="${issueVO.issueStats.approvedIssueComment}"></span>
        </div>
    </div>
</th:block>