<th:block th:fragment="ownerAvatar(avatar,name)">
    <th:block th:if="${ not #strings.isEmpty(avatar) }">
        <img class="piw-size-9 piw-rounded-full piw-border piw-border-slate-200" th:src="${avatar}" draggable="false" th:alt="${name}" />
    </th:block>
    <th:block th:if="${ #strings.isEmpty(avatar) }">
        <div class="piw-size-9 piw-rounded-full piw-flex piw-items-center piw-justify-center piw-bg-slate-200 piw-border piw-border-slate-200">
            <span class="piw-font-bold piw-text-3xl piw-text-neutral-500" th:text="${#strings.substring(name, 0, 1)}"></span>
        </div>
    </th:block>
</th:block>