* {
  padding: 0;
  margin: 0;
}

:root {
  --tw-bg-opacity: 1;
  --mi-post-line-height: 2.5rem;
  --mi-post-letter-spacing: 0.07em;
}

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  @apply piw-bg-slate-50 dark:piw-bg-slate-800
}

*::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  @apply piw-bg-gradient-to-b piw-from-primary piw-to-secondary
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

ul {
  list-style: decimal;
}
.tailwind-typography {
  @apply piw-prose piw-prose-base piw-mt-4 dark:piw-prose-invert prose-pre:piw-p-0;
}


.system-info-show-animation {
  font-weight: bold;
  background-image: -webkit-linear-gradient(left, #ffdd00, #3e2f08 25%, #ffdd00 50%, #3e2f08 75%, #ffdd00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: maskedAnimation 1s infinite linear;
}

.theme-info-show-animation {
  font-weight: bold;
  background-image: -webkit-linear-gradient(left, #ffde00, #3e2f08 25%, #ffdd00 50%, #3e2f08 75%, #ffdd00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: maskedAnimation 1s infinite linear;
}

.tab-transfer{
    @apply piw-inline-block piw-inline-flex piw-items-center piw-py-1.5 piw-px-4 piw-gap-x-1.5
}
.tab-transfer-active {
    @apply piw-border-b-2 piw-border-[#EE9279]
}
/*分页元素的一些样式*/
.page-numbers {
    @apply piw-block piw-size-7 piw-items-center piw-inline-flex piw-justify-center piw-items-center piw-rounded-md piw-shadow-md
    piw-text-sm piw-text-neutral-500 dark:piw-text-neutral-300 piw-bg-white dark:piw-bg-neutral-800 piw-transition-colors piw-duration-300
    hover:piw-text-neutral-300 hover:dark:piw-text-neutral-700;
}

/*issue留言板页面样式*/
.issue-item {
    @apply piw-bg-white dark:piw-bg-slate-800 piw-rounded-xl piw-border piw-border-gray-200 piw-p-5 hover:piw-border-blue-300
    piw-transition-all piw-duration-200 hover:piw-shadow-md
}