<!DOCTYPE html>
<html lang="en" th:fragment="layoutHtml(title, content, version)">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    <meta charset="UTF-8">
    <title th:text="${title}">Issues</title>
    <link rel="stylesheet" th:href="@{/plugins/PluginIssues/assets/static/dist/style.css?v={version}(version=${version})}" />
    <script th:src="@{/plugins/PluginIssues/assets/static/dist/main.iife.js?v={version}(version=${version})}" type="text/javascript"></script>
</head>
<body class="relative w-full">

    <th:block th:replace="${content}" />
</body>
</html>
