<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{plugin:PluginIssues:fragments/layout :: layoutHtml(title = ${issueVO.spec.title},
content = ~{::content}, version = ${pluginVersion}, head = ~{::head})}">
<th:block th:fragment="head">
    <style>
        [x-cloak] { display: none !important; }
    </style>
    <link rel="stylesheet" th:href="@{/plugins/PluginIssues/assets/static/libs/github-markdown.css?v={version}(version=${pluginVersion})}" />
</th:block>
<th:block th:fragment="content" th:with="currentUser = ${contributorFinder.getContributor(#authentication.name)}">
    <th:block th:replace="~{fragments/header::header(subjectType = ${issueSubjectInfo.subjectType}, title = ${issueSubjectInfo.title}, name = ${issueSubjectInfo.name},
    totalIssue = ${issueSubjectStats.awaitIssue + issueSubjectStats.progressIssue}, activeTab = 'issues' )}" />
    <main class="piw-container piw-mx-auto piw-py-6 piw-space-y-4" x-data="dateUtils">
        <div class="piw-w-full piw-flex piw-items-center piw-flex-wrap piw-justify-between piw-gap-x-3 piw-pb-3 piw-border-b piw-border-slate-300">
            <div class="piw-inline-flex piw-items-center piw-flex-wrap piw-gap-x-1.5">
                <p class="piw-text-xl piw-tracking-wider piw-text-sm piw-font-bold piw-text-neutral-700" th:text="${issueVO.spec.title}"></p>
                <th:block th:switch="${issueVO.status.state + ''}">
                    <th:block th:case="'AWAIT'">
                        <p class="issue-detail-state piw-bg-indigo-600 piw-text-white">等待中</p>
                    </th:block>
                    <th:block th:case="'PROGRESS'">
                        <p class="issue-detail-state piw-accent-green-700 piw-text-white">处理中</p>
                    </th:block>
                    <th:block th:case="'CLOSED'">
                        <p class="issue-detail-state piw-accent-slate-400 piw-text-white">已关闭</p>
                    </th:block>
                </th:block>
            </div>
            <button class="piw-outline-none piw-rounded-md piw-bg-green-700 piw-text-neutral-100 piw-w-[100px] piw-px-2 piw-h-8">New issue</button>
        </div>
        <div class="piw-w-full piw-flex lg:piw-flex-nowrap lg:piw-gap-x-3 piw-flex-wrap"
             th:attr="x-data=|{issueId:'${issueVO.metadata.name}', quoteCommentId: ''}|">
            <div class="lg:piw-w-[68%] piw-w-full" x-data="issueEditor">
                <!--  初始化issue编辑器  -->
                <div class="piw-w-full" th:attr="x-data=|{issueLink: '${issueVO.status.permalink}', issueName: '${issueVO.metadata.name}'}|">
                    <!--  原有的issue信息  -->
                    <div class="lg:piw-flex lg:piw-gap-x-3 piw-w-full">
                        <div class="lg:piw-flex-shrink-0 piw-hidden lg:piw-block">
                            <th:block th:replace="~{fragments/macro/ownerAvatar::ownerAvatar(avatar = ${issueVO.contributorVo.avatar}, name=${issueVO.contributorVo.name})}" />
                        </div>
                        <div class="piw-w-full piw-rounded-md piw-border piw-border-slate-200">
                            <div class="piw-w-full piw-border-b piw-border-slate-200 piw-flex piw-px-3 piw-py-1 piw-items-center piw-justify-between piw-bg-slate-100/80">
                                <div class="piw-w-full piw-flex piw-items-center piw-gap-x-2">
                                    <div class="lg:piw-hidden">
                                        <th:block th:replace="~{fragments/macro/ownerAvatar::ownerAvatar(avatar = ${issueVO.contributorVo.avatar}, name=${issueVO.contributorVo.name})}" />
                                    </div>
                                     <span class="piw-text-sm" th:text="${issueVO.contributorVo.name}"></span>
                                    <span class="piw-text-sm piw-text-neutral-500"></span>
                                    <p class="piw-inline-flex piw-items-center piw-gap-x-1" th:attr="x-data=|{publishTime: '${issueVO.spec.releaseTime}'}|">
                                        <span class="piw-text-sm">发布于</span>
                                        <span class="piw-text-sm" x-text="relativeTimeTo(publishTime)"></span>
                                    </p>
                                </div>
                                <div class="piw-relative issue-item-tools" x-data="dropdown" @click="open();main.triggerLazyAnimation('.issue-item-tools ')"
                                     @mouseenter="main.showTooltip('操作', $event)" @mouseleave="main.hideTooltip()">
                                    <span class="piw-icon-[pepicons-pencil--dots-x] piw-text-2xl hover:piw-cursor-pointer"></span>
                                    <div x-show="show" @click.outside="close();"
                                         class="piw-w-36 piw-absolute piw-top-8 -piw-right-2 piw-z-10 lg:piw-left-0 piw-bg-white piw-border piw-border-slate-200 piw-rounded-md
                                         piw-flex piw-flex-col piw-items-center piw-space-y-1 piw-p-2">
                                        <div class="issue-item-operation t-lazy-item" @click="main.copyLink(issueLink);close();">
                                            <span class="piw-icon-[ci--link] piw-text-xl"></span>
                                            <span class="piw-text-sm">复制链接</span>
                                        </div>
                                        <hr class="piw-w-full piw-bg-slate-200" />
                                        <div class="issue-item-operation t-lazy-item" @click="insertQuoteByPaste(issueRawContent);close();" x-data="{issueRawContent: ''}"
                                             x-init="const issueContent = await main.getIssueContent(issueName);issueRawContent = issueContent.raw;">
                                            <span class="piw-icon-[ri--quote-text] piw-text-lg"></span>
                                            <span class="piw-text-sm">引用回复</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="piw-w-full piw-p-3">
                                <!-- 模版元数据信息 -->
                                <div></div>
                                <div class="markdown-body piw-text-sm" th:utext="${issueVO.spec.content.html}"></div>
                            </div>
                        </div>
                    </div>
                    <!-- issue 评论数据  -->
                    <th:block th:if="${ not #lists.isEmpty(issueComments)}" th:each="issueComment : ${issueComments}">
                        <div class="lg:piw-flex lg:piw-gap-x-3 piw-w-full" th:attr="x-data=|{commentId: '${issueComment.metadata.name}', issueCommentName: '${issueComment.metadata.name}'}|" :id="commentId">
                            <div class="lg:piw-flex-shrink-0 piw-hidden lg:piw-block lg:piw-pt-4">
                                <th:block th:replace="~{fragments/macro/ownerAvatar::ownerAvatar(avatar = ${issueComment.contributorVo.avatar}, name=${issueComment.contributorVo.name})}" />
                            </div>
                            <div class="piw-w-full">
                                <div class="piw-h-4 piw-w-0.5 piw-bg-slate-300/80 piw-ml-6"></div>
                                <div class="piw-w-full piw-rounded-md piw-border piw-border-slate-200"
                                     x-data="{curCommentPos: window.location.href.replace(window.location.origin+window.location.pathname, '').replace('#', '')}"
                                     :class="{'!piw-border-indigo-600 piw-border-2': curCommentPos != '' && curCommentPos === commentId}">
                                    <div class="piw-w-full piw-border-b piw-border-slate-200 piw-flex piw-px-3 piw-py-1 piw-items-center piw-justify-between piw-bg-slate-100/80">
                                        <div class="piw-w-full piw-flex piw-items-center piw-gap-x-2">
                                            <div class="lg:piw-hidden">
                                                <th:block th:replace="~{fragments/macro/ownerAvatar::ownerAvatar(avatar = ${issueComment.contributorVo.avatar}, name=${issueComment.contributorVo.name})}" />
                                            </div>
                                            <span class="piw-text-sm" th:text="${issueComment.contributorVo.name}"></span>
                                            <span class="piw-text-sm piw-text-neutral-500"></span>
                                            <p class="piw-inline-flex piw-items-center piw-gap-x-1" th:attr="x-data=|{createTime: '${issueComment.metadata.creationTimestamp}'}|">
                                                <span class="piw-text-sm">创建于</span>
                                                <span class="piw-text-sm" x-text="relativeTimeTo(createTime)"></span>
                                            </p>
                                        </div>
                                        <div class="piw-relative" :class="commentId" x-data="dropdown" @click="open();main.triggerLazyAnimation('.' + commentId + ' ')"
                                             @mouseenter="main.showTooltip('操作', $event)"
                                             @mouseleave="main.hideTooltip()">
                                            <span class="piw-icon-[pepicons-pencil--dots-x] piw-text-2xl hover:piw-cursor-pointer"></span>
                                            <div x-show="show" @click.outside="close();"
                                                 class="piw-w-36 piw-absolute piw-top-8 -piw-right-2 piw-z-10 lg:piw-left-0 piw-bg-white piw-border piw-border-slate-200 piw-rounded-md
                                             piw-flex piw-flex-col piw-items-center piw-space-y-1 piw-p-2">
                                                <div class="issue-item-operation t-lazy-item" @click="main.copyLink(issueLink + '#' + commentId);close();close();">
                                                    <span class="piw-icon-[ci--link] piw-text-xl"></span>
                                                    <span class="piw-text-sm">复制链接</span>
                                                </div>
                                                <hr class="piw-w-full piw-bg-slate-200" />
                                                <div class="issue-item-operation t-lazy-item"
                                                     @click="insertQuoteByPaste(issueCommentRawContent);close();"
                                                     x-data="{issueCommentRawContent: ''}"
                                                     x-init="const issueCommentContent = await main.getIssueCommentContent(issueCommentName);issueCommentRawContent = issueCommentContent.raw;">
                                                    <span class="piw-icon-[ri--quote-text] piw-text-lg"></span>
                                                    <span class="piw-text-sm">引用回复</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="piw-w-full piw-p-3">
                                        <div class="markdown-body !piw-text-sm" th:utext="${issueComment.spec.content.html}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div sec:authorize="isAuthenticated()" id="issueComment" class="lg:piw-flex lg:piw-gap-x-3 piw-w-full piw-my-4">
                    <div class="piw-hidden lg:piw-block lg:piw-flex-shrink-0">
                        <th:block th:replace="~{fragments/macro/ownerAvatar::ownerAvatar(avatar = ${currentUser.avatar}, name=${currentUser.name})}" />
                    </div>
                    <div class="piw-w-full piw-space-y-3">
                        <p class="piw-text-sm piw-text-neutral-700 piw-mt-2 piw-font-bold">添加一条评论</p>
                        <th:block th:replace="~{fragments/IssueEditor}" />
                    </div>
                </div>
                <!-- 提交按钮 -->
                <div class="piw-w-full piw-my-3 lg:piw-pl-10 piw-flex piw-items-center piw-gap-x-3" sec:authorize="isAuthenticated()" x-data="messageBox">
                    <button class="piw-w-24 piw-rounded-md piw-bg-green-700 piw-text-neutral-100 piw-h-8 piw-text-sm piw-tracking-wider"
                    @click="main.publishIssueComment(issueId, rawContent, preview, quoteCommentId)" >评论</button>
                    <div class="piw-w-36 piw-rounded-md piw-bg-slate-100 piw-h-8 piw-text-sm piw-flex piw-items-center piw-justify-center"
                    @click="showMessage('success', '操作成功', 3000)">关闭 Issue</div>
                </div>
            </div>
            <!--  右侧信息栏 -->
            <div class="lg:piw-w-[28%] lg:piw-sticky piw-w-full piw-h-full piw-space-y-2 piw-divide-y piw-divide-slate-200">
                <div class="piw-space-y-2 piw-py-3">
                    <p class="piw-text-sm piw-tracking-wider">经办人</p>
                    <div class="piw-flex piw-flex-wrap piw-items-center" th:if="${ not #lists.isEmpty(issueVO.spec.assignees)}" >
                        <th:block th:each="assign:${issueVO.spec.assignees}">
                            <th:block th:with="assignUser = ${contributorFinder.getContributor(assign)}">
                                <img th:src="${assignUser.avatar}" th:alt="${assignUser.name}" th:title="${assignUser.name}" />
                            </th:block>
                        </th:block>
                    </div>
                    <p th:if="${ #lists.isEmpty(issueVO.spec.assignees) }" class="piw-text-sm piw-tracking-wider piw-text-neutral-400">
                        暂无经办人
                    </p>
                </div>
                <div class="piw-space-y-2 piw-py-3">
                    <p class="piw-text-sm piw-tracking-wider">标签</p>
                    <div class="piw-flex piw-flex-wrap piw-items-center piw-gap-1.5"
                         th:if="${#lists.size(issueVO.issueLabels) > 0}">
                        <th:block th:each="item:${issueVO.issueLabels}">
                            <span th:text="${item.spec.labelName}" th:attr="x-data=|{labelColor: '${item.spec.color}'}|" :style="'background-color: ' + labelColor"
                                  class="piw-px-3 piw-py-1.5 piw-text-xs piw-rounded-full piw-text-white"></span>
                        </th:block>
                    </div>
                    <p th:if="${ #lists.isEmpty(issueVO.spec.labels)}" class="piw-text-sm piw-tracking-wider">
                        暂无标签
                    </p>
                </div>
                <div class="piw-space-y-2 piw-py-3">
                    <div class="piw-flex piw-justify-between piw-items-center">
                        <p class="piw-text-xs piw-tracking-wider piw-font-bold">通知</p>
                        <p class="piw-text-xs piw-tracking-wider piw-font-bold">自定义</p>
                    </div>
                    <div class="piw-flex piw-py-2 piw-items-center piw-gap-x-2 piw-justify-center piw-w-full piw-rounded-md piw-bg-slate-100/80 piw-border piw-border-slate-200
                                hover:piw-cursor-pointer hover:piw-bg-slate-200/80">
                        <span class="piw-icon-[iconamoon--notification] piw-text-base"></span>
                        <span class="piw-text-sm piw-text-neutral-600">订阅</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>