<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{plugin:PluginIssues:fragments/layout :: layoutHtml(title = 'issue',
content = ~{::content}, version = ${pluginVersion}, head = null)}">

<th:block th:fragment="content">
    <th:block th:replace="~{fragments/header::header(subjectType = ${issueSubjectInfo.subjectType}, title = ${issueSubjectInfo.title}, name = ${issueSubjectInfo.name},
    totalIssue = ${issueSubjectStats.awaitIssue + issueSubjectStats.progressIssue}, activeTab = 'issues' )}" />
    <main class="piw-container piw-mx-auto piw-py-6 piw-space-y-4">
        <!-- 选项卡内容 -->
        <div class="piw-w-full piw-inline-flex piw-items-center piw-gap-x-3">
            <div class="piw-relative piw-w-full">
                <input type="search"
                       placeholder="搜索Issue..."
                       class="piw-w-full piw-pl-10 piw-pr-4 piw-py-1.5 piw-border piw-border-gray-300 piw-rounded-lg piw-text-sm focus:piw-ring-2 focus:piw-ring-indigo-500 focus:piw-border-transparent piw-transition-all piw-duration-300">
                <span class="piw-size-4 piw-text-gray-400 piw-absolute piw-left-3 piw-top-2 piw-icon-[mingcute--list-search-line]"></span>
            </div>
            <button class="piw-outline-none piw-rounded-md piw-bg-green-700 piw-text-neutral-100 piw-w-[100px] piw-px-2 piw-h-8">New issue</button>
        </div>
        <div class="piw-rounded-md piw-bg-slate-100 piw-border piw-border-slate-200">
            <div class="piw-w-full piw-px-3 piw-py-1.5 piw-inline-flex piw-justify-between piw-items-center piw-gap-x-3 piw-border-b piw-border-neutral-200">
                <div class="piw-inline-flex piw-gap-x-3">
                    <a class="issue-wrapper-stats" th:href="${'#'}">
                        <span class="piw-text-sm piw-font-bold">处理中</span>
                        <span class="issue-wrapper-stats-num" th:text="${issueSubjectStats.progressIssue}"></span>
                    </a>
                    <a class="issue-wrapper-stats" th:href="${'#'}">
                        <span class="piw-text-sm piw-font-bold">等待中</span>
                        <span class="issue-wrapper-stats-num" th:text="${issueSubjectStats.awaitIssue}"></span>
                    </a>
                    <a class="issue-wrapper-stats" th:href="${'#'}">
                        <span class="piw-text-sm piw-font-bold">已关闭</span>
                        <span class="issue-wrapper-stats-num" th:text="${issueSubjectStats.closedIssue}"></span>
                    </a>
                </div>
            </div>
            <div class="piw-divide-y piw-divide-slate-200">
                <th:block th:each="issueItem : ${issueItems.items}">
                    <th:block th:replace="~{fragments/macro/issue-item::issueItem(issueVO=${issueItem})}" />
                </th:block>
            </div>
        </div>
        <div class="piw-w-full piw-flex piw-justify-center piw-items-center">
            <th:block th:replace="~{fragments/pagination::pagination(context = '/subject/' + ${issueSubjectInfo.name} + '/issues/', prevUrl = ${issueItems.prevUrl}, nextUrl = ${issueItems.nextUrl}, totalPages = ${issueItems.totalPages}, page = ${issueItems.page}, hasPrevious = ${issueItems.hasPrevious()}, hasNext = ${issueItems.hasNext()})}" />
        </div>
    </main>
</th:block>
</html>